/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-right: 250px;
  }
  
  .login-card {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login-title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  
  .signup-link {
    color: #007bff; 
    cursor: pointer;
    margin-top: 10px;
    text-decoration: underline; 
  }
  
  .signup-link:hover {
    text-decoration: none; 
  }
  @media (max-width: 768px) {
    .login-container {
        padding: 0 20px; 
        margin-right: 0;
    }

    .login-card {
        padding: 20px; 
    }

    .login-title {
        font-size: 20px; 
    }

    .login-input,
    .login-button {
        font-size: 14px; 
    }
}

@media (max-width: 480px) {
    .login-container {
        height: auto; 
        padding: 20px; 
    }

    .login-card {
        padding: 15px; 
    }
    .login-title {
        font-size: 18px; 
    }

    .login-input,
    .login-button {
        font-size: 14px; 
    }
}
