
.app-container {
    display: flex;
  }
   
  .main-content {
    margin-left: 220px;
    padding: 20px;
    flex: 1;
    overflow-y: auto;
  }
  
  @media (max-width: 576px) { 
    .main-content {
      padding: 20px;
      flex: 1;
      overflow-y: auto;
      margin: auto;
    }
  }  

  @media (max-width: 768px) { 
    .main-content {
      padding: 20px;
      flex: 1;
      overflow-y: auto;
      margin: auto;
    }
  }